/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}
h1{
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); 
    
     opacity: 1.5;
     border-radius: 1dvb;
}
/* Navbar Styles */
.navbar {
    background-color: #f8f9fa !important;
    padding: 10px 0;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.nav-link {
    font-size: 20px;
}

/* Profile Styles */
#profile-info {
    text-align: center;
    margin-top: 50px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-info p {
    font-size: 22px;
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 20px;
    }

    .profile-pic {
        width: 150px;
        height: 150px;
    }

    .profile-info p {
        font-size: 18px;
    }
}
:root {
    --primary-color: #dc143c;
    --secondary-color: #f0b3bf;
    --tertiary-color: #dc143c;
    --form-background: rgba(255, 255, 255, 0.219);
    --input-border-color: dodgerblue;
    --label-color: rgb(58, 58, 58);
    --selected-label-color: rgb(82, 82, 82);
    --button-background: dodgerblue;
    --button-text-color: #fff;
    --button-hover-shadow-color: rgb(61, 61, 61);
    --body-background-mobile: lightblue;
}

/* #dc143c */

body {
    background-color: var(--primary-color);
    background-image: linear-gradient(180deg, var(--primary-color) 0%, var(--secondary-color) 100%, var(--tertiary-color) 90%);
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.btn{
    background: linear-gradient(to bottom, #dc143c, #f0b3bf);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); 
}