/* General Styles */
:root {
    --primary-color: #dc143c;
    --secondary-color: #f0b3bf;
    --tertiary-color: #dc143c;
  }
  body,
  html {
    height: 100%;
    background-color: var(--primary-color);
    background-image: linear-gradient(
      180deg,
      var(--primary-color) 0%,
      var(--secondary-color) 100%,
      var(--tertiary-color) 90%
  )}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/* Navbar Styles */
.navbar {
    background-color: #f8f9fa !important;
    padding: 10px 0;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.nav-link {
    font-size: 20px;
}

/* Profile Styles */
#profile-info {
    text-align: center;
    margin-top: 50px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-info p {
    font-size: 22px;
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 20px;
    }

    .profile-pic {
        width: 150px;
        height: 150px;
    }

    .profile-info p {
        font-size: 18px;
    }
}
