/* root colors */
:root{
    --experionRed : #C73659;
}

/* Character Section */
#character-section {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    min-height: 500px;
}

.character-message {
    background-color: #fff;
    border: 2px solid #c3c6c9;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 100px;
    min-width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.character-message::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: #000306 transparent transparent transparent;
}

#character-text {
    margin: 0;
    font-size: 1.2rem;
    color: #1b1d20;
}
.character-box{
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
}
.character-box img {
    max-height: 300px;
}
#webcam-container{
    position: absolute;
    /* top: 400px; */
    bottom: 0px;
    left: 0px;
    /* left: 0px; */
    width: 100%;
}

/* make camera disapear */
.makeDisapear{
    display: none;
}

#skipButton button{
    height: 40px;   
}

/* camera section */
.camPrompt{
    text-align: center;
}