@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --bgColour: white;
    --expColour: #dc143c;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.mainDiv{
    padding: 20px;
    width:100%;
    height:100vh;
}

.scorecard {
    width: 100%;
    max-height: 100%;
    margin: 2vh auto;
    max-width: 340px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom right, var(--expColour), white);
}

.player-image {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.player-name {
    font-smooth: never;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.score {
    font-family: 'Pixelify Sans';
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--expColour);
    text-align: center;
}

.score i {
    color: gold;
}

.score span {
    font-family: 'sans-serif';
    font-weight: bold;
}

.rank {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.rank i {
    color: gold;
}

.scorecard-heading {
    font-size: 2rem;
    font-family: 'Pixelify Sans';
    margin-bottom: 20px;
    color: gold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.scorecard::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #007bff, #00bfff);
    border-radius: 10px;
    z-index: -1;
}
.btnContainer a{
    text-decoration: none;
}
.btn2 {
    background-color: #dc143c;
    opacity: 75%;
    color: white;
    padding: .2rem .5rem;
    border-radius: 10px;
    display: block;
    margin: 1rem auto;
}
